{% extends '../baseTemplate.twig' %}
{% block title %}Turysta tabela{% endblock %}
{% block header %}
    Turysta
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Telefon</th>
                <th scope="col">Uzytkownik</th>
                <th scope="col">Opis</th>
                <th scope="col">Punkty</th>
                 {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                <th scope="col"></th>
                <th scope="col"></th>
                  {% endif %}
            </tr>
        </thead>
        <tbody>

        {% for turysta in turysci %}
        <tr>
          <td>{{ turysta.getIdTurysta }}</td>
          <td>{{ turysta.getImie }}</td>
          <td>{{ turysta.getNazwisko }}</td>
          <td>{{ turysta.getTelefon }}</td>
          <td>{{ turysta.uzytkownik.getLogin }}</td>
          <td>{{ turysta.getOpis }}</td>
          <td>{{ turysta.getPunkty }}</td>
            {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
          	<td><a class="nav-link" href="/turysta/updateForm/{{ turysta.getIdTurysta }}">Edytuj</a></td>
          	<td><a class="nav-link" href="/turysta/usun/{{ turysta.getIdTurysta }}">Usuń</a></td>
          {% endif %}
          
        </tr>
        {%  endfor %}
        </tbody>
    </table>
    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
    	<a class="btn btn-info" href="/turysta/addForm" role="button">Dodaj</a>
    {% endif %}

{% endblock %}
