{% extends '../baseTemplate.twig' %}

{% block title %}Pasma Tabela{% endblock %}
{% block header %}
    Pasma
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Grupa</th>
            {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for pasmo in pasma %}
            <tr>
                <td>{{ pasmo.getIdPasmo}}</td>
                <td>{{ pasmo.getNazwa }}</td>
                <td>{{ pasmo.grupa.getNazwa }}</td>
                {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                    <td class="text-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <abbr title="Edytuj"><a class="btn btn-sm bg-transparent" href="/pasma/updateForm?id={{ pasmo.getIdPasmo}}">✏️</a></abbr>
                            <abbr title="Usuń"><a class="btn btn-sm bg-transparent" href="/pasma/usun/{{ pasmo.getIdPasmo}}">🗑️</a></abbr>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {%  endfor %}

        </tbody>
    </table>
    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
        <a class="btn btn-info" href="/pasma/addForm" role="button">Dodaj</a>
    {% endif %}

{% endblock %}