{% extends '../baseTemplate.twig' %}

{% block title %}PodPunkt Tabela{% endblock %}
{% block header %}
    PodPunkt
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Punkty W</th>
            <th scope="col">Punkty Z</th>
            <th scope="col">Pasmo</th>
            <th scope="col">Grupa</th>
            <th scope="col">Punkt naleøy</th>
            {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                <th scope="col"></th>
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for podpunkt in podpunkty %}
            <tr>
                <td>{{ podpunkt.getIdPodPunkt}}</td>
                <td>{{ podpunkt.getNazwa }}</td>
                <td>{{ podpunkt.getPunktyW }}</td>
                <td>{{ podpunkt.getPunktyZ }}</td>
                <td>{{ podpunkt.pasmo.getNazwa }}</td>
                <td>{{ podpunkt.punkt.pasmo.grupa.getNazwa }}</td>
                <td>{{ podpunkt.punkt.getNazwa }}</td>
                {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                    <td><a class="nav-link" href="#">Edytuj</a></td>
                    <td><a class="nav-link" href="#">Usu≈Ñ</a></td>
                {% endif %}
            </tr>
        {%  endfor %}

        </tbody>
    </table>
    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
        <a class="btn btn-info" href="#" role="button">Dodaj</a>
    {% endif %}

{% endblock %}