{% extends '../baseTemplate.twig' %}

{% block title %}Przodownicy tabela{% endblock %}
{% block header %}
    Przodownicy
{% endblock %}
{% block main %}
    {{siema}}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Telefon</th>
                <th scope="col">Login</th>
                <th scope="col">E-mail</th>

                {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                    <th scope="col"></th>
                    <th scope="col"></th>
                {% endif %}

            </tr>
        </thead>
        <tbody>

        {% for przodownik in przodownicy %}
        <tr>
              <td>{{ przodownik.getIdPrzodownik }}</td>
              <td>{{ przodownik.getImie }}</td>
              <td>{{ przodownik.getNazwisko }}</td>
              <td>{{ przodownik.getTelefon }}</td>
                <td>{{ przodownik.uzytkownik.getLogin }}</td>
              <td>{{ przodownik.uzytkownik.getEmail }}</td>

            {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                <td><a class="nav-link" href="/przodownicy/form/{{ przodownik.getIdPrzodownik }}">Edytuj</a></td>
                <td><a class="nav-link" href="/przodownicy/usun/{{ przodownik.getIdPrzodownik }}">Usuń</a></td>
            {% endif %}

        </tr>
        {%  endfor %}

        </tbody>
    </table>

    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
        <a class="btn btn-info" href="/przodownicy/form" role="button">Dodaj</a>
    {% endif %}

{% endblock %}
