{% extends '../baseTemplate.twig' %}

{% block title %}Przodownicy tabela{% endblock %}
{% block header %}
    Przodownicy
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Telefon</th>
                <th scope="col">Login</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>

        {% for przodownik in przodownicy %}
        <tr>
            <td>{{ przodownik.getIdPrzodownik }}</td>
            <td>{{ przodownik.getImie }}</td>
            <td>{{ przodownik.getNazwisko }}</td>
            <td>{{ przodownik.getTelefon }}</td>
            <td>{{ przodownik.uzytkownik.getLogin }}</td>
            <td>{{ przodownik.uzytkownik.getEmail }}</td>

            <td class="text-right">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <abbr title="Edytuj grupy górskie"><a class="btn btn-sm bg-transparent" href="/przodownicy/{{ przodownik.getIdPrzodownik }}/grupy">🏔️</a></abbr>
                    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
                        <abbr title="Edytuj"><a class="btn btn-sm bg-transparent" href="/przodownicy/form?id={{ przodownik.getIdPrzodownik }}">✏️</a></abbr>
                        <abbr title="Usuń"><a class="btn btn-sm bg-transparent" href="/przodownicy/usun/{{ przodownik.getIdPrzodownik }}">🗑️</a></abbr>
                    {% endif %}
                </div>
            </td>



        </tr>
        {%  endfor %}

        </tbody>
    </table>

    {% if 'ROLE_administrator' in LoggedUser.getAuthorities %}
        <a class="btn btn-info" href="/przodownicy/form" role="button">Dodaj</a>
    {% endif %}

{% endblock %}
