{% extends '../baseTemplate.twig' %}

{% block title %}Przodownicy tabela{% endblock %}
{% block header %}
    Przodownicy
{% endblock %}
{% block main %}
    <table id="myTable" class="table table-striped align-middle table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Telefon</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

        {% for przodownik in przodownicy %}
        <tr>
              <td>{{ przodownik.getIdPrzodownik }}</td>
              <td>{{ przodownik.getImie }}</td>
              <td>{{ przodownik.getNazwisko }}</td>
              <td>{{ przodownik.getTelefon }}</td>
              <td>{{ przodownik.uzytkownik.getEmail }}</td>
                <td><a class="nav-link" href="/przodownicy/usun/{{ przodownik.getIdPrzodownik }}">Usuń</a></td>
        </tr>
        {%  endfor %}

        </tbody>
    </table>

    <a class="btn btn-info" href="/przodownicy/form" role="button">Dodaj</a>


    {% if wiadomosc != null %}
        WIADOMOSC
    {% endif %}
    {{ WIADOMOSC }}

{% endblock %}
